.root {
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    padding: 5px 21px;
    border-radius: 4px;
}

.root:disabled {
    cursor: default;
    pointer-events: none;
}
